
      <label for="lang">City</label>
      <select name="City" id="lang"></select>
      <input type="submit" value="Search" />
</form>

<script>
    // retrieve list of cities from database
    let cities = retrieveCitiesFromDatabase();

    // populate the select element with options
    let select = document.getElementById("lang");
    for (let i = 0; i < cities.length; i++) {
        let option = document.createElement("option");
        option.value = cities[i];
        option.text = cities[i];
        select.appendChild(option);
    }
</script>
-->


<!--//This code replace the "30ºC" to connect it to the database
<label style="color:royalblue; font-size:180px"><center>{{ weather }}</center></label>
-->

<center>{{ time_of_day }}</center>

</body>

</html>